.error-div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 82vh;
    background: antiquewhite;
    color: gray;
    font-family: emoji;

}