.main_header {
  width: 100%;
  height: 2rem;
  background: linear-gradient(191deg, #9f9898, #4e4a4a);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  /* display: grid;
    grid-template-columns: 45% 42% 5%; */
}
.main_header > .left_header {
  color: white;
  display: flex;
  margin-left: 5px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.main_header > .left_header > p > span {
  font-weight: bold;
}
.main_header > .left_header > p {
  margin: 0px 5px;
}
.main_header > .right_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
  font-size: 1.3rem;
}
.main_header > .right_header > a {
  margin: 0px 5px;
}
.main_header > .time > p {
  border: 1px solid black;
  border-radius: 6px;
  margin: 0px 10px;
  padding: 5px;
  background: black;
  color: white;
}
.main_header > .time > p:hover {
  color: black;
  background: white;
  border: none;
}
.fb {
  background: blue;
  color: white;
  border-radius: 60%;
  border: none;
}
.fb:hover {
  color: blue;
  background: white;
}
.insta {
  background: linear-gradient(47deg, #e5e54e, #ff0ba9);
  color: white;
  border-radius: 24%;
  border: 1px solid #ff0ba9;
}
.insta:hover {
  background: linear-gradient(47deg, #bebe09, #df0693);
  color: rgb(255, 255, 255);
  border: 1px solid #df0693;
}
.tele {
  color: rgb(57, 57, 255);
  background: white;
  border-radius: 60%;
  border: none;
}
.tele:hover {
  background: blue;
  color: white;
  border: 1px solid white;
}
.tweet {
  background: blue;
  color: white;
  border-radius: 60%;
  border: none;
}
.tweet:hover {
  color: blue;
  background: white;
}
.mail {
  background: white;
  color: rgb(223 7 7);
  border-radius: 24%;
  border: none;
}
.mail:hover {
  color: white;
  background-color: rgb(223 7 7);
}
@media (max-width:500px){
  .time{
    /* width: 80%; */
    width: auto;
    height: auto;
  }
  .time > p{
    font-size: 0.8rem;
    /* font-size: auto; */
  }
}
@media screen and (max-width: 900px) {
    .main_header {
      height: 3rem;
    }
    .main_header > .left_header {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .main_header > .right_header {
      width: 100%;
      margin-right: 0px;
      font-size: 1rem;
    }
    .close{
      display: none;
    }
  }
/* /* ///////////NavBar Csss */